.field{
	display:inline-block;
	border:2px solid black;
	width:50px;
	height:50px;
	position: absolute;
}
.field-cross{
background-image:url('cross.png');
}
.field-nought{
background-image:url('null.jpg');
}
.game-over{
	cursor:default;
}